body {
   background-color: #232323;
}

h1 {
   color: whitesmoke;
}

.container {
   width: 600px;
   margin: 0px auto;
}

.square {
   float: left;
   width: 30%;
   height: 0;
   padding-bottom: 30%;
   background-color: navy;
   margin: 5px;
}

#message {color:white;}